{% extends "yonetim/base.html" %}
<script>
        var onay=function()
        {
            return window.comfirm("Alt menu kaydını silmek istiyor musunuz?");
        }
        function btn_geri()
        {
		    window.history.back();
        }
     </script>
{% block baslik %}Form Sil{% endblock %}

{% block content %}

<form onsubmit="return onay()" method="post">
    {% csrf_token %}

    <div>
        <table class="blueTable">
            <thead>
                <tr><th colspan="2" style=" text-transform: uppercase">{{ form.adisoyadi }}</th></tr>
            </thead>
            <tbody>

            <tr>
                <td style="width:25%;">Telefon</td>
                <td style="width:75%;">{{ form.tel }}</td>
            </tr>
            <tr>
                <td style="width:25%;">E-Posta</td>
                <td style="width:75%;">{{ form.eposta }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Konu</td>
                <td style="width:75%;">{{ form.konu }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Mesaj</td>
                <td style="width:75%;">{{ form.mesaj }}</td>
            </tr>
            <tr>
                <td style="width:25%;">Gönderim Tarihi</td>
                <td style="width:75%;">{{ form.olus_tarih }}</td>
            </tr>
            </tbody>
        </table>
    <div>&nbsp;&nbsp;</div>
    <div class="sag">
        <button type="submit" onclick="onay()" class="push button red"> Sil </button>
        <button type="button" class="push button red" onclick="btn_geri()">Geri</button>
    </div>
    </div>

</form>
{% endblock %}
