{% extends "yonetim/base.html" %}

{% block baslik %}SOLUTIONS{% endblock %}


{% block content %}


<script>
var btn_git	=function(){
		window.location = "/yonetim/solutions/duzenle";
}

var btn_cik=function(){
    window.location = "/logout";
}

</script>
<div class="sol">
    {% if request.user.is_superuser %}
        <button type="button" onclick="btn_git()" class="push_button blue">Ekle</button>
    {% else %}
        <p></p>
    {% endif %}


</div>
<div>
&nbsp;
    &nbsp;
</div>


<div>

    <table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Altmenü adı</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for solutions in solutions  %}
        <td>{{solutions.altmenuadi}}</td>
        <td>{{solutions.baslik}}</td>
        <td>{% if solutions.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ solutions.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ solutions.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ solutions.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ solutions.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>



</div>




<div>
<table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Alt Menü</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for blog in blog  %}
        <td>{{blog.altmenuadi}}</td>
        <td>{{blog.baslik}}</td>
        <td>{% if blog.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ blog.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ blog.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ blog.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ blog.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>

    </div>

<div>

    <table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>DUYURULAR</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for duyurular in duyurular  %}
        <td>{{duyurular.baslik}}</td>
        <td>{% if duyurular.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ duyurular.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ duyurular.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ duyurular.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ duyurular.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>



</div>




<div>

    <table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>HİZMETLER</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for hizmetler in hizmetler  %}
        <td>{{hizmetler.baslik}}</td>
        <td>{% if hizmetler.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ hizmetler.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ hizmetler.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ hizmetler.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ kocluk.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>



</div>

<div>

    <table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Eğitimler</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for egitim in egitim  %}

        <td>{{egitim.baslik}}</td>
        <td>{% if egitim.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ egitim.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ egitim.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ egitim.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ egitim.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>



</div>




{% endblock %}
