{% extends "yonetim/base.html" %}

{% block baslik %}SOLUTIONS{% endblock %}


{% block content %}


<script>
var btn_git	=function(){
		window.location = "/yonetim/solutions/duzenle";
}

var btn_cik=function(){
    window.location = "/logout";
}

</script>
<div class="sol">
    {% if request.user.is_superuser %}
        <button type="button" onclick="btn_git()" class="push_button blue">Ekle</button>
    {% else %}
        <p></p>
    {% endif %}


</div>
<div>
&nbsp;
    &nbsp;
</div>

<table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>Alt menü adı</th>
        <th>Baslık</th>
        <th>Durum</th>
        <th>Detay</th>
        <th>Düzenle&nbsp;</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="6" style="height:30px; color:#1D3557">Solutions</td>
    </tfoot>
    <tbody>
    <tr>
        {% for solutions in solutions %}
        <td>{{solutions.altmenuadi}}</td>
        <td>{{solutions.baslik}}</td>
        <td>{% if solutions.durum %}Aktif{% else %}Pasif{% endif %}</td>
        <td>
            <a href="/yonetim/solutions/detay/{{ solutions.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/solutions/duzenle/{{ solutions.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/solutions/sil/{{ solutions.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/solutions/sil/{{ solutions.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
