asgiref==3.4.1
automium==0.2.6
automium-web==0.1.1
click==8.0.3
codegen==1.0
Django==3.2.8
django-ckeditor==6.1.0
django-ckeditor-staticfiles==4.3.3
django-datetime-widget2==0.9.5
django-js-asset==1.2.2
django-phonenumber-field==5.2.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.2
legacy==0.1.6
MarkupSafe==2.0.1
patterns==0.3
Pillow==8.4.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
views==0.3
Werkzeug==2.0.2
whitenoise==5.3.0
###
phonenumbers
