{% extends "yonetim/base.html" %}

{% block baslik %}ÜRÜNLER{% endblock %}


{% block content %}


<script>
var btn_git	=function(){
		window.location = "/yonetim/urun/duzenle";
}

var btn_cik=function(){
    window.location = "/logout";
}

</script>
<div class="sol">
    {% if request.user.is_superuser %}
        <button type="button" onclick="btn_git()" class="push_button blue">Ekle</button>
    {% else %}
        <p></p>
    {% endif %}


</div>
<div>
&nbsp;
    &nbsp;
</div>

<table class="blueTable" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>ÜRün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Detay</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tfoot>
    <td colspan="5" style="height:30px; color:#1D3557">Ürünler</td>
    </tfoot>
    <tbody>
    <tr>
        {% for urun in urun %}
        <td>{{urun.urunadi}}</td>
        <td>{{urun.urunfiyat}}</td>
        <td>
            <a href="/yonetim/urun/detay/{{ urun.id }}"><button>Detay</button></a>
        </td>
        <td>
            <a href="/yonetim/urun/duzenle/{{ urun.id }}"><button>Düzenle</button></a>
        </td>

         {% if request.user.is_superuser %}
        <td>
            <a href="/yonetim/urun/sil/{{ urun.id }}"><button>Sil</button></a>
        </td>
        {% else %}
        <td>
            <a href="/yonetim/urun/sil/{{ urun.id }}" ><button disabled="disabled">Sil</button></a>
        </td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
