{% extends "anasayfa/base.html" %}

{% block content %}
<div class="container1">
    <div>
        <h2>Etkinlik ve Haberler</h2>
        <table>
            <tbody>
                {% for haber in haber %}
                <tr>
                    <td>
                        <a href="/haber_goster/{{ haber.id }}"><img style="width:30px; height:30px; margin-right:30px;" src="/static/img/dugme.png">{{haber.tarih}}
                        {{haber.baslik}}</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td><h4><a href="/haber_goster/">Tüm Etkinlik ve Haberler</a> </h4></td>
            </tfoot>
        </table>
    </div>
    <div>
        <div>
            <h2>Duyurular</h2>
            <table>
                <tbody>
                    {% for duyuru in duyuru %}
                    <tr>
                        <td>
                            <a href="/duyuru_goster/{{ duyuru.id }}"><img style="width:30px; height:30px; margin-right:30px;" src="/static/img/dugme.png">{{duyuru.tarih}}
                            {{duyuru.baslik}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td><h4><a href="/duyuru_goster/">Tüm Duyurular</a> </h4></td>
                </tfoot>
            </table>

    </div>
    </div>
</div>
{% endblock %}
