{% extends "admin/base.html" %}
{% block content %}

<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    {{ form.non_field_errors }}

    <table class="blueTable">
        <thead>
            <tr><th colspan="2">Şifre İşlemleri</th></tr>
        </thead>
        <tbody style="margin-top:20px;">

        {{ form.as_table }}

        </tbody>
    </table>

    <div>&nbsp;</div>
    <div class="sag">
        <button type="reset" class="push button red">Temizle</button>
        <button type="submit" class="push button blue">Kaydet</button>
        <button class="push button red" onclick="btn_geri()">Geri</button>
    </div>
</form>



{% endblock %}
