{% extends "anasayfa/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!-- İLK SAYFA -->

<div class="container" >
    <!-- Content here -->
    <div class="row g-0">
        <div class="col-6 col-md-4">
            GÜNCELLENİYOR...
        </div>
        <div class="col-sm-6 col-md-8">
            <img class="img-fluid" src="/static/img/bireysel.jpg"  alt="...">
        </div>

    </div>
</div>
<!-- HİZMET -->

<div class="container" style="margin-top:100px;">
    <div>
        <h1 class="text-center" style="color: #000; margin-top:30px;">HİZMETLERİMİZ</h1>
    </div>
    <!-- HİZMETLER SHADOW SEÇENEĞİ -->
    <!--<div class="row row-cols-8">
      {% for hizmetler in hizmetler %}
                <div class="col">
                    <div class="shadow p-3 mb-5 bg-body rounded row align-items-center "
                         style="height: 200px; width: 200px; margin-left:20px; margin-top:20px;">

                        <a href="/hizmet/{{ hizmetler.id }}"
                           style="text-decoration:none; color: #2F6275; hover:{color:#fff;}">
                            {{hizmetler.baslik}}
                        </a>
                    </div>
                </div>
      {% endfor %}
  </div>
    -->
</div>

<!-- HİZMETLER LİSTESİ -->
<div class="container" style="margin-top:50px;">

    <div class="row row-cols-8">
      {% for hizmet in hizmetler %}
        <div class="col">
                <div class="card border border-info" style="width: 18rem; height:350px;">
                  <img src="{{hizmet.img.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{hizmet.baslik}}</h5>

                  </div>
                    <div class="card-footer text-muted">
                        <a href="/hizmetler/{{hizmet.id}}" class="btn btn-outline-info" >Detay..</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- TÜM HİZMETLER -->
<div class="container" style="margin-top:50px;">
    <h3 class="text-center" style="color: #D8AF54; margin-top:50px;">
        <a href="/hizmetler/" class="text-center">
            <button type="button" class="btn btn-outline-warning fs-5">Tüm Hizmetlerimiz</button>
        </a>
    </h3>
</div>

<!-- DUYURULAR -->
<div class="container" >
    <h2 class="text-center" style="color:#000; margin-top:100px;">DUYURULAR</h2>
    <!-- CARD -->

     <div class="row row-cols-8" >
    {% for duyuru in duyurular %}
         <div class="col">
             <a href="/duyurular/{{duyuru.id}}">
                <div class="card bg-dark text-white buyuyenresim" style="width:300px; height:200px;">
                    {% if duyuru.img %}
                        <img src="{{duyuru.img.url}}" class="card-img " style="opacity: 0.5" alt="...{{ duyuru.img }}...">
                    {% endif %}
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{duyuru.baslik}}</h5>
                        <!--<p class="card-text">{{duyuru.aciklama}}</p>-->

                    </div>
                </div>
             </a>
         </div>
    {% endfor %}
     </div>


</div>
<!-- TÜM DUYURULAR -->
<div class="container" style="margin-top:50px;">
    <h3 class="text-center" style="color: #D8AF54; margin-top:50px;">
        <a href="/duyurular/" class="text-center">
            <button type="button" class="btn btn-outline-warning fs-5">Tüm Duyurular</button>
        </a>
    </h3>
</div>

    <!-- SLADER -->
    <!--
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="height: 200px;">

        <div class="carousel-indicators">
            {% for duyuru in duyurular %}
                {% if duyuru.active %}
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{duyuru.sira}}" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% else %}
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{duyuru.sira}}" aria-label="Slide 2"></button>
                {% endif %}
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for duyuru in duyurular %}
                {% if duyuru.active %}
                     <div class="carousel-item active " data-bs-interval="5000">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="200"  class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{duyuru.baslik}}</h5>
                            </div>
                    </div>
                {% else %}
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="200" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{duyuru.baslik}}</h5>
                        </div>
                    </div>
                {% endif%}

            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    -->

<!--   Blog -->
<!-- Youtube -->


{% endblock %}
