{% load static %}

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<title></title>
<body>

<div class="container-fluid" >




    <div class="row">
        <div class="col-sm" >


            <nav class="navbar navbar-expand-lg navbar-light navbar-dark" style="background-color: #2F6275;" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">

                        </span>

                    </button>
                    <a class="navbar-brand " href="#">SS Solutions & Coaching</a>

                    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                            <li class="nav-item active">
                                <a class="nav-link " href="#">Ana Sayfa <span class="sr-only">(current)</span></a>

                            </li>
                            <li class="nav-item " >
                                <a class="nav-link " data-toggle="dropdown" href="#">Solutions & Coaching</a>
                                <ul class="dropdown-menu " >
                                    <li class="dropdown-submenu"><a  href="#">Hakkımızda</a></li>
                                    <li class="dropdown-submenu"><a  href="#">Ekip</a></li>
                                    <li class="dropdown-submenu"><a href="#">SSS</a></li>
                                    <li class="dropdown-submenu"><a  href="#">Duyurular</a></li>
                                    <li class="dropdown-submenu"><a  href="#">Gizlilik Politikası</a></li>
                                    <li class="dropdown-submenu"><a href="#">Bize Ulaşın</a></li>
                                </ul>

                            </li>
                            <li class="nav-item" >
                                <a class="nav-link " href="#">Kurumsal Eğitimler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">BLOG</a>
                            </li>



                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    </nav>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-3"><h1>.yazı.</h1></div>
        <div class="col-sm-9"><h1>.image.</h1>
            <img src="static/logo.jpeg" class="img-thumbnail" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm"><h1>hizmetler</h1></div>
    </div>
    <div class="row">
        <div class="col-sm"><h1>duyurular</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><h1>logo</h1></div>
        <div class="col-sm-3"><h1>kategori</h1></div>
        <div class="col-sm-3"><h1>gizlilik politikası</h1></div>
        <div class="col-sm-3"><h1>Başvuru formu</h1></div>
    </div>


</div>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="08ab2d65-314e-4b05-bb7d-714b893899c4";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
