{% extends "anasayfa/base.html" %}
{½ {{post.title}} ½}
{% block content %}
<script>
var btn_ileri_geri=function(){
            window.history.back();
        }


            $('#myCollapsible').on('hidden.bs.collapse', function () {

})

</script>

<div class="container">
    {% for blog in blogs %}
         {% if forloop.counter|divisibleby:2 %}
            <div class="row" style="padding-top:20px;padding-bottom:20px;">
                <div class="col">
                    <h2>{{blog.baslik}}</h2>
                    <p>{{blog.aciklama}}...</p>
                    <a href="/blog/{{ blog.id }}"><button class="btn btn-info">Detay..</button></a>
                </div>
                <div class="col">
                    {% if blog.img %}
                        <img width="300" height="300" class="img-thumbnail" src="{{blog.img.url}}" alt="{{blog.baslik}}" >
                    {% endif %}
                </div>
            </div>
            <hr style="height:1px;border-width:0;color:#ff0000;background-color:#ff0000">
            <hr style="height:1px;width:75%;border-width:0;color:#ff0000;background-color:#ff0000">
        {% else %}
            <div class="row" style="padding-top:20px;padding-bottom:20px;">
                <div class="col">
                    {% if blog.img %}
                        <img width="300" height="300" class="img-thumbnail" src="{{blog.img.url}}" alt="{{blog.baslik}}" >
                    {% endif %}

                </div>
                <div class="col">
                    <h2>{{blog.baslik}}</h2>
                    <p>{{blog.aciklama}}...</p>
                    <a href="/blog/{{ blog.id }}"><button class="btn btn-info">Detay..</button></a>

                </div>
            </div>
            <hr style="height:1px;border-width:0;color:#ff0000;background-color:#ff0000">
            <hr style="height:1px;width:75%;border-width:0;color:#ff0000;background-color:#ff0000">

        {% endif %}
    {% endfor %}

</div>


{% endblock %}

