{% extends "anasayfa/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<script>
var btn_ileri_geri=function(){
            window.history.back();
        }


            $('#myCollapsible').on('hidden.bs.collapse', function () {

})

</script>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {% for ekip in ekips %}

            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                <div class="col-sm-4 ">
                    {% if ekip.img %}

                       <a href="/ekip/{{ ekip.id }}">
                           <img width="200" height="200" class="rounded-circle border border-4 shadow-lg p-3 mb-5 bg-body rounded" src="{{ekip.img.url}}" alt="{{ekip.adisoyadi}}">
                       </a>

                    {% endif %}
                </div>
                <div class="col-sm">
                    <h2>{{ekip.adisoyadi}}</h2>
                    <p>{{ekip.unvan}}...</p>
                    <a href="/ekip/{{ ekip.id }}"><button class="btn btn-info">Öz Geçmiş</button></a>
                </div>

            </div>
            <hr style="height:1px;border-width:0;color:#ff0000;background-color:#ff0000">
            <hr style="height:1px;width:75%;border-width:0;color:#ff0000;background-color:#ff0000">
            {% endfor %}
        </div>
        <div class="col-sm">
            <div class="card" style="margin-left:20px;">
            <div class="card-body bg-light">
                <h6 class="card-title">Bizimle İletişime Geçin</h6>
                 <form action="/form/" method="post" class="row g-3 bg-light" >
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="col-12">
                                <input type="text" class="form-control" name="adsoyad" id="validationDefault01" placeholder="Adınız Soyadınız" aria-describedby="adsoyadHelp" required>

                            </div>
                            <div class="form-group col-12">

                                <input type="text" class="form-control" id="validationDefault02" aria-describedby="emailHelp" name="tel" placeholder="Telefon Numaranız" required >

                            </div>
                            <div class="col-md-12">
                                <input type="email" class="form-control" id="validationDefault03" name="eposta" placeholder="e-posta" aria-label="email"  aria-describedby="emailHelp" required>
                            </div>
                             <div class="col-md-12">
                                    <select name="konu" id="validationDefault04" class="form-select" required>
                                        <option selected>Kurum ve Yönetici Koçluğu</option>
                                        <option>Bireysel Koçluk</option>
                                    </select>
                             </div>
                            <div class="col-md-12">
                                 <textarea class="form-control" id="validationDefault05" name="mesaj" rows="3" placeholder="Mesajınız" required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary text-center">Gönder</button>
                            </div>

                        </form>

            </div>
        </div>
            <div class="card" style="margin-left:20px; margin-top:10px;">
                <div class="card-body bg-light">
                    <h6 class="card-title">Kurumsal Eğitimler</h6>
                </div>
            </div>
            <div class="card" style="margin-left:20px; margin-top:10px;">
                <div class="card-body bg-light">
                    <h6 class="card-title">Koçluk</h6>
                </div>
            </div>
            <div class="card" style="margin-left:20px; margin-top:10px;">
                <div class="card-body bg-light">
                    <h6 class="card-title">Hizmetlerimiz</h6>
                </div>
            </div>
            <div class="card" style="margin-left:20px; margin-top:10px;">
                <div class="card-body bg-light">
                    <h6 class="card-title">Blog Yazılarımız</h6>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

