<ul id="nav">
    <li class="current"><a href="/">Ana Sayfa</a></li>
    <li><a href="#">Bölüm</a>
        <ul>
            <li><a href="/hakkinda/">Hakkında</a></li>
            <li><a href="/misyon_vizyon/">Misyon Vizyon</a></li>
            <li><a href="/iletisim/">İletişim</a></li>
        </ul>
    </li>
    <li><a href="#">Personel</a>
        <ul>
            <li><a href="/idari_personel">İdari Personel</a></li>
            <li><a href="/akademik_personel/">Akademik Personel</a></li>
        </ul>
    </li>
    <li><a href="#">Eğitim</a>
        <ul>
            <li><a href="/genel_bilgi/">Genel Bilgi</a></li>
            <li><a href="/ogretim_plani/">Öğretim Planı</a></li>
            <li><a href="/ders_icerik/">Ders İçerikleri</a></li>
        </ul>


    </li>
    <li><a href="#">Öğrenci</a>
        <ul>
            <li><a href="/bilgi_sistemi/">Öğrenci Bilgi Sistemi</a></li>
        </ul>
    </li>
    <li><a href="/iletisim/">İletişim</a></li>
</ul>
