



<nav class="navbar navbar-expand-lg navbar-light bg-light arkaplan-rengi">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left:100px;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-current="page" href="#">SS Solutions & Coaching</a>
          <ul class="dropdown-menu rounded-3" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" href="/hakkimizda/">Hakkımızda</a></li>
            <li><a class="dropdown-item" href="#">Çözüm Ortakları</a></li>
            <li><a class="dropdown-item" href="/sss/">SSS</a></li>
            <li><a class="dropdown-item" href="/duyurular/">Duyurular</a></li>
            <li><a class="dropdown-item" href="/gizlilik/">Gizlilik Politikası</a></li>
            <li><a class="dropdown-item" href="/iletisim/">Bize Ulaşın</a></li>

          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page" href="#">Eğitimler</a>
          <ul class="dropdown-menu rounded-3" aria-labelledby="navbarDropdownMenuLink1">

            <li><a class="dropdown-item"href="/egitim/1/">Kurum ve Yönetici Koçluğu Eğitimi</a></li>
            <li><a class="dropdown-item" href="/egitim/2/">22 Temmuz İlişkiler Koçluğu Eğitimi</a></li>
            <li><a class="dropdown-item" href="/egitim/3/">26 Nisan Öğrenci Koçluğu Eğitimi</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page" href="#">Blog</a>
          <ul class="dropdown-menu rounded-3" aria-labelledby="navbarDropdownMenuLink2">

            <li><a class="dropdown-item"href="/blog/">BLOG</a></li>
            <li><a class="dropdown-item" href="#">YOUTUBE</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/iletisim/">İletisim</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
