
<nav class="main-nav" role="navigation">

   <!-- &lt;!&ndash; Mobile menu toggle button (hamburger/x icon) &ndash;&gt; -->
    <input id="main-menu-state" type="checkbox"/>
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

   <h2 class="nav-brand"><a href="/"><i class="fas fa-home"></i> &nbsp; SS Solutions & Coaching</a></h2>
   <!-- &lt;!&ndash; Sample menu definition &ndash;&gt; -->
    <ul id="main-menu" class="sm sm-mint">

        <li><a href="#"> SS Solutions & Coaching</a>
            <ul>
                <li><a href="/hakkimizda/">Hakkımızda</a></li>
                <li><a href="#">Çözüm Ortakları</a></li>
                <li><a href="/sss/">SSS</a></li>
                <li><a href="/duyurular/">Duyurular</a></li>
                <li><a href="/gizlilik/">Gizlilik Politikası</a></li>
                <li><a href="/iletisim/">Bize Ulaşın</a></li>
            </ul>
        </li>
        <li><a href="#">Eğitimler</a>
            <ul>
                <li><a href="/egitim/1/">Kurum ve Yönetici Koçluğu Eğitimi</a></li>
                <li><a href="/egitim/2/">22 Temmuz İlişkiler Koçluğu Eğitimi</a></li>
                <li><a href="/egitim/3/">26 Nisan Öğrenci Koçluğu Eğitimi</a></li>
            </ul>
        </li>
        <li><a href="#">BLOG</a>
            <ul>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </li>
        <li><a href="/iletisim/">İletişim</a></li>
        <!--<li><a href="/onlinerandevu/">Online Randevu</a></li>
        <li><a href="/onlinesatis/">Online Hizmet Satışı</a></li>
        {% for a_menuanasayfa in menuanasayfa %}
        <li><a href="/menuicerik/{{a_menuanasayfa.id}}" >{{a_menuanasayfa.menuadi}}</a>
            {% for menu in menuler %}

                    {% if menu.ustmenuadi == a_menuanasayfa.menuadi %}
                    <ul>
                            <li><a href="/menuicerik/{{menu.id}}">{{menu.menuadi}}</a>
                                {% for altmenu in menuler %}
                                    {% if altmenu.ustmenuadi == menu.menuadi %}
                                        <ul><li><a href="/menuicerik/{{altmenu.id}}">{{altmenu.menuadi}}</a></li></ul>
                                    {% endif %}
                                {% endfor %}
                            </li>
                    </ul>
                    {% endif %}

            {% endfor %}
            </li>
        {% endfor %}
        -->
    </ul>
</nav>

